header {
    background-color: cadetblue;
}

h2 {
    background-color: cadetblue;
    color:crimson
}

body {
    background-color: darkgrey;
}

h3 {
    background-color: cadetblue;
    color:crimson
}
